[user]
	name = Yangxu Zhang
	email = zhangyangxu@gmail.com
[color]
	diff = auto
  status = false
[core]
	excludesfile =
[url "https://github.com/"]
  insteadOf = gh:
[gui]
	recentrepo =
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	sourcetree = !open -a SourceTree .
	default = !git config branch.master.remote origin && git config branch.master.merge refs/heads/master
